@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard'),
    url('./assets/fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard'),
    url('./assets/fonts/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard'),
    url('./assets/fonts/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ChosunGs';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Pretendard';
  font-weight: 400;
  line-height: 1.5;
  background-color: #f6f6f6;
}

.swiper-button-prev,
.swiper-button-next {
  font-size: 60px;
  padding: 0 50px;
  color: white;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 70px;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: #f96400;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
  min-height: 600px;
  margin-bottom: 20px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* .toggle {
  background-color: #f96400;
  border-color: #f96400;
} */

#dash {
  width: 30%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  margin: 130px auto;
}

.blogPost {
  position: relative;
  display: inline-block;
  width: 29.2%;
  height: 75%;
  padding-bottom: 0.5rem;
  margin: 2.7rem 1.8rem;
  background: white;
  border-radius: 0.25rem;
  overflow: hidden;
}

.blogThumbnail {
  height: 20rem;
  background-size: cover;
  overflow: hidden;
}

.blogTextTitle {
  margin: 4rem 1.75rem 0 1.75rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.blogTextInfo {
  margin: 0.75rem 1.75rem 1.5rem 1.75rem;
  font-size: 0.875rem;
}

.blogTextBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 0.5rem;
  margin: 0 1.75rem;
  background: #fff;
}

.blogLike {
  display: flex;
  align-items: center;
}

.blogLikeImg {
  display: inline-block;
  width: 1.25rem;
  margin-right: 0.5rem;
}

.spoTag {
  position: absolute;
  top: 0;
  left: 1.25rem;
  width: 3rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 0 0 0.375rem 0.375rem;
}

.spoTxt {
  display: block;
  padding-top: 0.75rem;
  font-weight: 600;
  color: #fff;
}
