@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard'),
    url('./assets/fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard'),
    url('./assets/fonts/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard'),
    url('./assets/fonts/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Pretendard';
  font-weight: 400;
  line-height: 1.5;
  background-color: #f6f6f6;
}

.swiper-button-prev,
.swiper-button-next {
  color: #f96400;
}

.swiper-pagination-bullet-active {
  background-color: #f96400;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
  min-height: 600px;
  margin-bottom: 20px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* .toggle {
  background-color: #f96400;
  border-color: #f96400;
} */
